extends layout

block content
  h1= title

  p Hi there! Welcome to Marina's SQL Library!
  div
  a(href="/books/new", class="button") Create New Book
  br

  br
  table(style="width:100%")
    tr
      th Title
      th Author
      th Genre
      th Year
    each book in books
      tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          td=book.author
          td=book.genre
          td=book.year
